body, html{
    height: 100%;
    margin:0px;
    background-image: url('../img/emmanutencao.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%
}


@media (max-width: 600px){
    body{
        background-image: url(../img/emmanutencao.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 240% 100%;
        max-width: 100%;
        
    }
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    height: 270px;
}

a{
    display: block;
    height: 270px
}